<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Amazona</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="grid-container">
      <header class="header">
        <div class="brand">
          <button onclick="openMenu()">&#9776;</button>
          <a href="index.html">amazona</a>
        </div>
        <div class="header-links">
          <a href="cart.html">Cart</a>
          <a href="sign-in.html">Sign In</a>
        </div>
      </header>
      <aside id="sidebar">
        <h3>Shopping Category</h3>
        <button class="sidebar-close-btn" onclick="closeMenu()">x</button>
        <ul>
          <li><a href="index.html">Pants</a></li>
          <li><a href="index.html">Shiirts</a></li>
        </ul>
      </aside>
      <main class="main">
        <div class="content">
          <ul class="products">
            <li>
              <div class="product">
                <img class="product-image" src="images/d1.jpg" alt="product" />
                <div class="product-name">
                  <a href="product.html">Slim Shirt</a>
                </div>
                <div class="product-brand">Denim</div>
                <div class="product-price">₹800</div>
                <div class="product-rating">4.5 stars (10 reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img class="product-image" src="images/d2.jpg" alt="product" />
                <div class="product-name">
                  <a href="product.html">Slim Shirt</a>
                </div>
                <div class="product-brand">Denim</div>
                <div class="product-price">₹800</div>
                <div class="product-rating">4.5 stars (10 reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img class="product-image" src="images/d3.jpg" alt="product" />
                <div class="product-name">
                  <a href="product.html">Slim Shirt</a>
                </div>
                <div class="product-brand">Denim</div>
                <div class="product-price">₹800</div>
                <div class="product-rating">4.5 stars (10 reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img class="product-image" src="images/p1.jpg" alt="product" />
                <div class="product-name">
                  <a href="product.html">Slim Shirt</a>
                </div>
                <div class="product-brand">Denim</div>
                <div class="product-price">₹800</div>
                <div class="product-rating">4.5 stars (10 reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img class="product-image" src="images/p2.jpg" alt="product" />
                <div class="product-name">
                  <a href="product.html">Slim Shirt</a>
                </div>
                <div class="product-brand">Denim</div>
                <div class="product-price">₹800</div>
                <div class="product-rating">4.5 stars (10 reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img class="product-image" src="images/p3.jpg" alt="product" />
                <div class="product-name">
                  <a href="product.html">Slim Shirt</a>
                </div>
                <div class="product-brand">Denim</div>
                <div class="product-price">₹800</div>
                <div class="product-rating">4.5 stars (10 reviews)</div>
              </div>
            </li>
          </ul>
        </div>
      </main>
      <footer class="footer">All rights reserved</footer>
    </div>

    <!-- Custom JS -->
    <script>
      function openMenu() {
        document.getElementById("sidebar").classList.add("open");
      }
      function closeMenu() {
        document.getElementById("sidebar").classList.remove("open");
      }
    </script>
  </body>
</html>
